<footer class="l-footer">
    <div class="l-footer__logo">
        <!-- <img src="../images/" alt="Magna, Logotipo, Empreas"> -->
    </div>
    <div class="l-footer__middle">
        <span class="l-footer__address">adress Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, minima.</span>
        <span class="l-footer__copyright">Copy Lorem ipsum dolor sit amet Lorem, ipsum dolor.</span>
    </div>
    <div class="l-footer__social-email">
        <span class="l-footer__mail">email@exapmple.com</span>
        <div class="l-footer__social">
            <i>F</i>
            <i>F</i>
            <i>F</i>
            <i>F</i>
        </div>
    </div>
</footer>