<link rel="stylesheet" href="../../css/index.css">

<header class="l-header">
    <nav class="c-navbar">
        <div class="c-navbar__logo">
            <a href="#home">
                <img src="../../images/magna/logoWhite2.png" alt="Logotipo, Logo, Image, Magna">
            </a>
        </div>
        <ul class="c-navbar__menu">
            <li class="c-navbar__item" title="Inicio"><a href="#home" class="c-navbar__link">Inicio</a></li>
            <li class="c-navbar__item" title="Sobre"><a href="#about" class="c-navbar__link">Sobre</a></li>
            <li class="c-navbar__item" title="Contato"><a href="#contact" class="c-navbar__link">Contato</a></li>
            <li class="c-navbar__item" title="Simulador Financeiro"><a href="#simulator"
                    class="c-navbar__link">Simulador</a></li>
            <li class="c-navbar__item" title="Entrar"><a href="#signin" class="c-navbar__link">Entrar</a></li>
            <li class="c-navbar__item" title="Cadastrar"><a href="#signup" class="c-navbar__link">Cadastrar</a></li>
        </ul>
    </nav>
</header>