.container_pai {
    background-color: var(--color-accent);
    border-radius: 10px;
    padding: 60px;
    margin: 80px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_esquerda {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container_titulo {
    margin-bottom: var(--margin-lg);
    width: 100%;
}

.container_inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.container_aceitos_btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container_termos {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: white;
}
.container_termos input{
    width: 18px;
    height: 18px;
    margin-right: var(--margin);
}

.container_direita {
    height: 100%;
    width: 40%;
     display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
}

img {
    width: 100%;
    height: 100%;
}

.container_texto {
    width: 80%;
    color: var(--color-light);
    text-align: center;
    margin: 0 auto;
}

.container_img {
    width: 80%;
    margin: 0 auto;
    max-width: 400px;
}

.container_btn .btn {
    background-color: var(--color-primary);
    width: 220px;
}

.titulo {
    font-size: var(--font-title-3);
    font-weight: 700;
    color: var(--color-white);
}

.texto {
    color: var(--color-white);
}

.input {
    margin-bottom: 15px;
    margin-top: 0;
}