
body{
    background-color: var(--color-light);

}
.simulador{
    flex-direction: column;
    background-color:var(--color-white);
    overflow:hidden;
    padding: var(--padding-lg);
    padding-bottom: 10px;
    margin-top: var(--margin-lg);
    margin-bottom: var(--margin-lg);
    border-radius: var(--radius-lg);
}

.container-input{
    background-color:var(--color-accent);
    padding: var(--padding-lg);
    color: var(--color-white);
    width: 150%;
    border-radius: var(--margin);
    margin: var(--margin);
}

.container-input h1{
    padding: var(--padding-lg);
    font-weight: bold;
    font-size: var(--font-lg);

}

.container-input input{
    color: var(--color-dark);
    border-radius: var(--radius-sm);
    border:none;
    height: 35px;

}

.box{
    padding: var(--padding-md);
    display: flex;
    flex-direction: column;
}

.paragrafo {
    text-align: center;
    margin: var(--margin-lg);
}
.div_btn{
    display: flex;
    justify-content: space-around;
    margin: var(--margin);
}

button{
    align-self:flex-end;
    background-color: #E83847;
    height: 40px;
    color: white;
    border: none;
    border-radius: var(--radius-sm);
    font-weight: bolder;
    cursor: pointer;
    padding: var(--padding-md);
    width: 125px;
}