.l-header {
    height: 80px;
    width: 100%;
    background-color: var(--color-accent-dark);

    box-shadow: 0 2px 8px var(--color-shadow);

    position: fixed;
    top: 0;
    left: 0;
}

.c-navbar {
    height: 100%;
    margin: 0 auto;
    max-width: var(--size-xlg);

    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-white);
}

.c-navbar__menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.c-navbar__item:not(:last-child) {
    margin-right: var(--margin);
}

.c-navbar__item {
    transition: all .2s ease;
    opacity: .9;
}

.c-navbar__item:hover {
    opacity: 1;
}

.c-navbar__link {
    padding: var(--padding-sm);
}

img {
    width: 80px;
}