:root {
    /* Strong */
    --blue: #007bffff;
    --indigo: #6610f2ff;
    --purple: #6f42c1ff;
    --pink: #e83e8cff;
    --red: #dc3545ff;
    --orange: #fd7e14ff;
    --yellow: #ffc107ff;
    --green: #28a745ff;
    --teal: #20c997ff;
    --cyan: #17a2b8ff;

    /* Neutrals */
    --white: #fdfdfdff;
    --black: #151515ff;
    --gray: #6c757dff;
    --light-gray: #d1d1d1ff;
    --dark-gray: #343a40ff;

    /* Theme */
    --primary: #5770dc;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #c83241;
    --cultured: #f8f9fa;
    --dark: #212529;
    --shadow: #11111144;

    /* Social */
    --facebook: #3b5998ff;
    --twitter: #00acedff;
    --linkedin: #0077b5ff;
    --youtube: #dc3535ff;
    --instagram: #e4405fff;
    --github: #333333ff;

    /* Project */
    --color-primary: #E83847;
    --color-accent: #4BA3C3;
    --color-accent-dark: #1D3557;
    --color-dark: #2A2A2A;
    --color-shadow: #3d3d3d66;
    --color-light: #FFFCEC;
    --color-white: #f5f5f5;
}